In [1]:
import pandas as pd
import numpy as np

In [2]:
## Set Table Structure

ContextTag = {"ID" : [],
             "SubmissionID" : [],
              "TagName" : []}

Contract = {"ID" : [],
           "SubmissionID" : [],
           "Contractor" : [],
           "Contractor Location" : [],
           "Contract Number" : [],
           "Contract Type": [],
            "Award Date" : [],
            "Definitization Date" : [],
            "Initial Contract Price Target" : [],
            "Initial Contract Price Ceiling" : [],
            "Initial Contract Price Quantity" : [],
            "Current Contract Price Target" : [],
            "Current Contract Price Ceiling" : [],
            "Current Contract Price Quantity" : [],
            "Contractor's Estimated Price at Completion" : [],
            "PM's Estimated Price at Completion" : [],
            "Cost Variance" : [],
            "Schedule Variance" : [],
            "Cost Variance Explanation" : [],
            "Schedule Variance Explanation" : [],
            "Variance Explanation" : [],
            "Contract Comments" : []}

DataInventory = {"ID": [],
                 "SubmissionID": [],
                 "ContextTag": [],
                 "HasSchedule": [],
                 "HasFunding": [],
                 "HasVariance": [],
                 "HasOSCost": [],
                 "HasUnitCost": [],
                 "HasProgramInfo": [],
                 "HasPerformance": [],
                 "HasTrackToBudget": [],
                 "HasOtherInfo": [],
                 "HasContracts": [],
                 "HasExecution": []}

EventTag = {"ID": [],
            "ScheduleID": [],
            "TagID": [],
            "TagName": [],
            "Comment": [],
            "IsActive": []}

Execution = {"ID": [],
             "SubmissionID": [],
             "SubProgramID": [],
             "CE_Deliveries_Development_Scheduled": [],
             "CE_Deliveries_Development": [],
             "CE_Funding_Quantity_Development": [],
             "DeliveredDevelopmentPercent": [],
             "CE_Deliveries_Production_Scheduled": [],
             "CE_Deliveries_Production": [],
             "CE_Funding_Quantity_Production": [],
             "DeliveredProductionPercent": [],
             "CE_Deliveries_Scheduled": [],
             "CE_Deliveries": [],
             "CE_Funding_Quantity": [],
             "DeliveredAllPercent": [],
             "CE_Funding": [],
             "CE_Expenditures": [],
             "CE_Expenditures_Percent": [],
             "CE_Funding_Years": [],
             "CE_Funding_Years_Appropriated": [],
             "CE_Funding_Years_Appropriated_Percent": [],
             "CE_Funding_Appropriated": [],
             "CE_Funding_Appropriated_Percent": [],
             "CE_Notes": []}

Funding = {"ID": [],
           "SubmissionID": [],
           "SubProgramID": [],
           "PhaseName": [],
           "YearMetricName": [],
           "Code": [],
           "FiscalYear": [],
           "Quantity": [],
           "ThenYearCost": [],
           "BaseYearCost": [],
           "Order": []}

FundingTotal = {"ID": [],
                "SubmissionID": [],
                "SubProgramID": [],
                "PhaseName": [],
                "Code": [],
                "TotalQuantity": [],
                "TotalThenYearCost": [],
                "TotalBaseYearCost": []}

IPA = {"ID": [],
       "SubmissionID": [],
       "SubProgramID": [],
       "CustomerName": [],
       "DateOfActivity": [],
       "QuantityTotal": [],
       "FundingTotal": [],
       "AgreementNotes": []}

IPANotes = {"ID": [],
            "SubmissionID": [],
            "SubProgramID": [],
            "SectionNotes": []}

LRIP = {"ID": [],
        "SubmissionID": [],
        "SubProgramID": [],
        "InitialApprovalDate": [],
        "InitialQuantity": [],
        "InitialReference": [],
        "InitialStartYear": [],
        "InitialEndYear": [],
        "CurrentApprovalDate": [],
        "CurrentQuantity": [],
        "CurrentReference": [],
        "CurrentStartYear": [],
        "CurrentEndYear": [],
        "Notes": []}

NuclearCost = {"ID": [],
              "SubmissionID": [],
              "SubProgramID": [],
              "NuclearCost" : []}

OSCost = {"ID": [],
         "SubmissionID": [],
         "SubProgramID": [],
         "CostCategory": [],
         "Ordering": [],
         "Base": [],
         "Ant": []}

OSInfo = {"ID": [],
         "SubmissionID": [],
         "SubProgramID": [],
         "Notes": [],
         "CostEstimateReference": [],
         "SustainmentStrategy": [],
         "Assumptions": [],
         "DisposalCost": [],
         "AntecedentInformation": [],
         "CurrentUnitOfMeasure": [],
         "CurrentSubProgramName": [],
         "AntecedentUnitofMeasure": [],
         "AntecedentSystem": []}

Performance = {"ID": [],
               "SubmissionID": [],
               "SubProgramID": [],
               "Characteristic_URI": [],
               "CharacteristicHeader": [],
               "Characteristic_Name": [],
               "Characteristic_PathName": [],
               "CE_Section": [],
               "CE_Characteristic_Position": [],
               "CE_Characteristic_Estimate_Value": [],
               "CE_Characteristic_Demonstrated_Measurement_Value": [],
               "APB_Characteristic_Objective_Value": [],
               "APB_Characteristic_Threshold_Value": [],
               "SB_Characteristic_Estimate_Value": [],
               "Indents": []}

PerformanceCE = {"ID": [],
                 "SubmissionID": [],
                 "SubProgramID": [],
                 "ChangeExplanation": [],
                 "ChangeNumber": []}

Program = {"ID": [],
           "ProgramURI": [],
           "PNO": [],
           "DAVEID": [],
           "ProgramName": [],
           "LongName": [],
           "Service": [],
           "ProgramType": [],
           "ProgramSubType": [],
           "DamirStatus": [],
           "AcquisitionType": [],
           "AcquisitionCategory": [],
           "SARCount": []}

ProgramInfo =  {"ID": [],
                "SubmissionID": [],
                "ProgramFullName": [],
                "Mission": [],
                "ExecutiveSummary": [],
                "FullName": [],
                "Phone": [],
                "Fax": [],
                "DSNPhone": [],
                "DSNFax": [],
                "DateAssigned": [],
                "StreetLine1": [],
                "StreetLine2": [],
                "StreetLine3": [],
                "CityStateZip": []}

Schedule = {"ID": [],
            "SubmissionID": [],
            "SubProgramID": [],
            "MilestoneURI": [],
            "ParentID": [],
            "ParentMilestone": [],
            "MilestoneName": [],
            "AdjMilestoneName": [],
            "SARBaseline": [],
            "CurrentAPBObjective": [],
            "CurrentAPBThreshold": [],
            "CurrentEstimate": [],
            "SortOrder": [],
            "InsertDate": [],
            "IsParent": [],
            "Indents": [],
            "GrowthFromObjective": [],
            "GrowthFromThreshold": [],
            "TagName": []}

ScheduleCE = {"ID": [],
              "SubmissionID": [],
              "SubProgramID": [],
              "ChangeNumber": [],
              "ChangeExplanation": []}

Submission = {"ID": [],
              "ProgramID": [],
              "SubmissionDate": [],
              "Source": []}

SubmissionBaseYear = {"ID": [],
                     "SubmissionID": [],
                     "SubProgramID" : [],
                     "BaseYear": []}


SubProgram = {"ID": [],
              "SubProgramURI": [],
              "ProgramID": [],
              "SubProgramName": [],
              "APB_Reference": [],
              "SB_Reference": [],
              "SARCount": []}

SummaryMetrics = {"ID": [],
                  "ProgramID": [],
                  "SubPrograms": [],
                  "EarliestSAR": [],
                  "LatestSAR": [],
                  "EarliestSARRDTEFundingYearCount": [],
                  "LatestSARRDTEFundingYearCount": [],
                  "EarliestSARPROCFundingYearCount": [],
                  "LatestSARPROCFundingYearCount": [],
                  "EarliestSARMILCONFundingYearCount": [],
                  "LatestSARMILCONFundingYearCount": [],
                  "EarliestSAROMAFundingYearCount": [],
                  "LatestSAROMAFundingYearCount": [],
                  "EarliestSARMilestoneEventCount": [],
                  "LatestSARMilestoneEventCount": [],
                  "EarliestSARPerformancePrmCount": [],
                  "LatestSARPerformancePrmCount": [],
                  "EarliestSARHasRDTEQty": [],
                  "LatestSARHasRDTEQty": [],
                  "EarliestSARHasPROCQty": [],
                  "LatestSARHasPROCQty": []}

TrackToBudget = {"ID": [],
                 "SubmissionID": [],
                 "SubProgramID": [],
                 "RDTENotes": [],
                 "ProcurementNotes": [],
                 "MILCONNotes": [],
                 "OMNotes": []}

TrackToBudgetLineItem = {"ID": [],
                         "SubmissionID": [],
                         "SubProgramID": [],
                         "Symbol": [],
                         "BudgetActivity": [],
                         "ProgramElement": [],
                         "RDTEProject": [],
                         "ProcurementLineItem": [],
                         "MILCONProject": [],
                         "OMSubActivityGroup": [],
                         "Name": [],
                         "Service": [],
                         "Position": []}

UnitCost = {"ID": [],
            "SubmissionID": [],
            "SubProgramID": [],
            "BaseYear": [],
            "DevelopmentQuantity": [],
            "ProductionQuantity": [],
            "ReportingAPUC": [],
            "ReportingPAUC": [],
            "sbEffectiveDate": [],
            "sbBaseYear": [],
            "sbDevQuantity": [],
            "sbProcQuantity": [],
            "sbReportingAPUC": [],
            "sbReportingPAUC": [],
            "RDTEDollars": [],
            "ProcDollars": [],
            "RecurringFlyaway": [],
            "NonRecurringFlyaway": [],
            "MILCON": [],
            "AcqOM": [],
            "Total": [],
            "sbRDTEDollars": [],
            "sbProcDollars": [],
            "sbRecurringFlyaway": [],
            "sbNonRecurringFlyaway": [],
            "sbMILCON": [],
            "sbAcqOM": [],
            "sbTotal": [],
            "sbName": [],
            "sbPhase": [],
            "sbApprovalDate": [],
            "sbEvent": [],
            "LRIPInitialQuantity": [],
            "LRIPCurrentQuantity": [],
            "sbFullRateProdQty": [],
            "FullRateProdQty": [],
            "sbPAUC": [],
            "PAUC": [],
            "sbAPUC": [],
            "APUC": [],
            "sbRecUnitFlyaway": [],
            "RecUnitFlyaway": [],
            "ProcurementQuantityVariance": [],
            "TotalQuantityVariance": [],
            "BaseYear2": [],
            "sbBaseYear2": [],
            "sbUnadjProc": [],
            "UnadjProc": [],
            "UnadjProcPercent": [],
            "sbLaspeyresAdjProc": [],
            "LaspeyresAdjProc": [],
            "LaspeyresAdjProcPercent": [],
            "sbPaascheAdjProc": [],
            "PaascheAdjProc": [],
            "PaascheAdjProcPercent": [],
            "sbFisherAdjProc": [],
            "FisherAdjProc": [],
            "FisherAdjProcPercent": [],
            "sbUnadjAcq": [],
            "UnadjAcq": [],
            "UnadjAcqPercent": [],
            "sbLaspeyresAdjAcq": [],
            "LaspeyresAdjAcq": [],
            "LaspeyresAdjAcqPercent": [],
            "sbPaascheAdjAcq": [],
            "PaascheAdjAcq": [],
            "PaascheAdjAcqPercent": [],
            "sbFisherAdjAcq": [],
            "FisherAdjAcq": [],
            "FisherAdjAcqPercent": []}


variance = {"ID": [],
            "SubmissionID": [],
            "SubProgramID": [],
            "PhaseName": [],
            "sbBaseYear": [],
            "sbThenYear": [],
            "Previous_Economic_TY": [],
            "Previous_Quantity_TY": [],
            "Previous_Schedule_TY": [],
            "Previous_Engineering_TY": [],
            "Previous_Estimating_TY": [],
            "Previous_Other_TY": [],
            "Previous_Support_TY": [],
            "Previous_Subtotal_TY": [],
            "Current_Economic_TY": [],
            "Current_Quantity_TY": [],
            "Current_Schedule_TY": [],
            "Current_Engineering_TY": [],
            "Current_Estimating_TY": [],
            "Current_Other_TY": [],
            "Current_Support_TY": [],
            "Current_Subtotal_TY": [],
            "Adjustments_TY": [],
            "Previous_Economic_BY": [],
            "Previous_Quantity_BY": [],
            "Previous_Schedule_BY": [],
            "Previous_Engineering_BY": [],
            "Previous_Estimating_BY": [],
            "Previous_Other_BY": [],
            "Previous_Support_BY": [],
            "Previous_Subtotal_BY": [],
            "Current_Economic_BY": [],
            "Current_Quantity_BY": [],
            "Current_Schedule_BY": [],
            "Current_Engineering_BY": [],
            "Current_Estimating_BY": [],
            "Current_Other_BY": [],
            "Current_Support_BY": [],
            "Current_Subtotal_BY": [],
            "Adjustments_BY": [],
            "Total_BY": [],
            "Total_TY": [],
            "CE_BY_CostVariance": [],
            "CE_TY_CostVariance": []}

variancece = {"ID": [],
              "SubmissionID": [],
              "SubProgramID": [],
              "Category": [],
              "Explanation": [],
              "BaseYearCost": [],
              "ThenYearCost": [],
              "PhaseName": []}

In [9]:
fundingtotaldf = pd.DataFrame(FundingTotal)
fundingtotaldf

Empty DataFrame
Columns: [ID, SubmissionID, SubProgramID, PhaseName, Code, TotalQuantity, TotalThenYearCost, TotalBaseYearCost]
Index: []

In [10]:
F35AirCraftFT = pd.read_csv('/Users/petershmorhun/Desktop/SARScraper/Scraped Tables/F35/F35_Aircraft_SubprogramFT.csv')

In [11]:
F35AirCraftFT

,Category,Base Year (2012) Objective,Threshold,Current Estimate (PB 2025),CY$ obs / TY$ obs
0,RDT&E,"$63,162.0M","$69,478.2M","$66,902.2M","$71,300.3M"
1,Procurement,"$230,886.4M","$253,975.0M","$221,345.2M","$325,797.7M"
2,MILCON,"$4,168.0M","$4,584.8M","$3,523.0M","$4,022.7M"
3,O&M,$0.0M,$0.0M,$0.0M,$0.0M
4,R&MF,$0.0M,$0.0M,$0.0M,$0.0M
5,Total Acquisition,"$298,216.4M",-,"$291,770.4M","$401,120.7M"
6,Program Acquisition Unit Cost,$120.735M,$132.810M,$118.126M,$162.397M
7,Average Procurement Unit Cost,$94.009M,$103.410M,$90.124M,$132.654M
8,Program End-Item Quantity (Development),14,14,14,14
9,Program End-Item Quantity (Procurement),"2,456","2,456","2,456","2,456"

In [12]:
SubmissionID = 1
SubprogramID = 2

In [54]:
#import csv
F35AirCraftFT = pd.read_csv('/Users/petershmorhun/Desktop/SARScraper/Scraped Tables/F35/F35_Aircraft_SubprogramFT.csv')
#clean csv and populate table
fundingtotaldf['PhaseName'] = F35AirCraftFT['Category']
#convert $m to int
fundingtotaldf['TotalThenYearCost'] = F35AirCraftFT['Current Estimate (PB 2025)'].apply(convert_money_string_to_int)
fundingtotaldf['TotalBaseYearCost'] = F35AirCraftFT['Base Year (2012) Objective'].apply(convert_money_string_to_int)
fundingtotaldf['SubmissionID'] = SubmissionID
fundingtotaldf['SubProgramID'] = SubprogramID
fundingtotaldf['TotalQuantity'][0] = F35AirCraftFT['Base Year (2012) Objective'][8]
fundingtotaldf['TotalQuantity'][1] = F35AirCraftFT['Base Year (2012) Objective'][9]

/var/folders/4k/nl2zz_ln4d55dcscl_vvjglh0000gn/T/ipykernel_11336/1675004391.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fundingtotaldf['TotalQuantity'][0] = F35AirCraftFT['Base Year (2012) Objective'][8]
/var/folders/4k/nl2zz_ln4d55dcscl_vvjglh0000gn/T/ipykernel_11336/1675004391.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fundingtotaldf['TotalQuantity'][1] = F35AirCraftFT['Base Year (2012) Objective'][9]

In [71]:
fundingtotaldf.drop(columns="SubprogramID")

,ID,SubmissionID,SubProgramID,PhaseName,Code,TotalQuantity,TotalThenYearCost,TotalBaseYearCost
0,NaN,1,2,RDT&E,NaN,14,66902200000,63162000000
1,NaN,1,2,Procurement,NaN,"2,456",221345200000,230886400000
2,NaN,1,2,MILCON,NaN,NaN,3523000000,4168000000
3,NaN,1,2,O&M,NaN,NaN,0,0
4,NaN,1,2,R&MF,NaN,NaN,0,0
5,NaN,1,2,Total Acquisition,NaN,NaN,291770400000,298216400000
6,NaN,1,2,Program Acquisition Unit Cost,NaN,NaN,118126000,120735000
7,NaN,1,2,Average Procurement Unit Cost,NaN,NaN,90124000,94009000
8,NaN,1,2,Program End-Item Quantity (Development),NaN,NaN,14,14
9,NaN,1,2,Program End-Item Quantity (Procurement),NaN,NaN,2456,2456

In [72]:
fundingtotaldffinal = fundingtotaldf.iloc[:4]
fundingtotaldffinal

,ID,SubmissionID,SubProgramID,PhaseName,Code,TotalQuantity,TotalThenYearCost,TotalBaseYearCost,SubprogramID
0,NaN,1,2,RDT&E,NaN,14,66902200000,63162000000,2
1,NaN,1,2,Procurement,NaN,"2,456",221345200000,230886400000,2
2,NaN,1,2,MILCON,NaN,NaN,3523000000,4168000000,2
3,NaN,1,2,O&M,NaN,NaN,0,0,2

## Data Cleaning Functions

In [51]:
def convert_money_string_to_int(money_str):
    """
    Convert a string representing a monetary value with a dollar sign and 'M' (millions)
    into an integer.

    Example:
    '$66,902.2M' -> 66902200000
    """
    if isinstance(money_str, str):
        # Remove the $ sign and commas
        money_str = money_str.replace('$', '').replace(',', '')

        # Remove the 'M' and convert to float, then multiply by 1,000,000
        if 'M' in money_str:
            money_float = float(money_str.replace('M', ''))
            return int(money_float * 1_000_000)

        # You can add additional cases if you have 'B' for billions, etc.
        
    # If the value is not a string, return it as is (useful for non-monetary columns)
    return money_str

In [91]:
SubprogramID2 = 3
#create blank dataframe
fundingtotaldf2 = pd.DataFrame(FundingTotal)
#import csv
F35EngineFT = pd.read_csv('/Users/petershmorhun/Desktop/SARScraper/Scraped Tables/F35/F35_Engine_SubprogramFT.csv')
#clean csv and populate table
fundingtotaldf2['PhaseName'] = F35EngineFT['Category']
#convert $m to int
fundingtotaldf2['TotalThenYearCost'] = F35EngineFT['Current Estimate (PB 2025)'].apply(convert_money_string_to_int)
fundingtotaldf2['TotalBaseYearCost'] = F35EngineFT['Base Year (2012) Objective'].apply(convert_money_string_to_int)
fundingtotaldf2['SubmissionID'] = SubmissionID
fundingtotaldf2['SubProgramID'] = SubprogramID2
fundingtotaldf2['TotalQuantity'][0] = F35EngineFT['Base Year (2012) Objective'][8]
fundingtotaldf2['TotalQuantity'][1] = F35EngineFT['Base Year (2012) Objective'][9]
fundingtotaldf2final = fundingtotaldf2.iloc[:4]
fundingtotaldf2.head()

/var/folders/4k/nl2zz_ln4d55dcscl_vvjglh0000gn/T/ipykernel_11336/789338145.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fundingtotaldf2['TotalQuantity'][0] = F35EngineFT['Base Year (2012) Objective'][8]
/var/folders/4k/nl2zz_ln4d55dcscl_vvjglh0000gn/T/ipykernel_11336/789338145.py:13: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '14' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  fundingtotaldf2['TotalQuantity'][0] = F35EngineFT['Base Year (2012) Objective'][8]

,ID,SubmissionID,SubProgramID,PhaseName,Code,TotalQuantity,TotalThenYearCost,TotalBaseYearCost
0,NaN,1,3,RDT&E,NaN,14,16016900000,13432300000
1,NaN,1,3,Procurement,NaN,"2,456",44940100000,41012800000
2,NaN,1,3,MILCON,NaN,NaN,0,0
3,NaN,1,3,O&M,NaN,NaN,0,0
4,NaN,1,3,R&MF,NaN,NaN,0,0

In [78]:
fundingtotaldffinal =fundingtotaldffinal.drop(columns="SubprogramID")

In [79]:
fundingtotaldffinal

,ID,SubmissionID,SubProgramID,PhaseName,Code,TotalQuantity,TotalThenYearCost,TotalBaseYearCost
0,NaN,1,2,RDT&E,NaN,14,66902200000,63162000000
1,NaN,1,2,Procurement,NaN,"2,456",221345200000,230886400000
2,NaN,1,2,MILCON,NaN,NaN,3523000000,4168000000
3,NaN,1,2,O&M,NaN,NaN,0,0

In [94]:
F35ftfinal = pd.concat([fundingtotaldffinal, fundingtotaldf2final])

In [95]:
F35ftfinal

,ID,SubmissionID,SubProgramID,PhaseName,Code,TotalQuantity,TotalThenYearCost,TotalBaseYearCost
0,NaN,1,2,RDT&E,NaN,14,66902200000,63162000000
1,NaN,1,2,Procurement,NaN,"2,456",221345200000,230886400000
2,NaN,1,2,MILCON,NaN,NaN,3523000000,4168000000
3,NaN,1,2,O&M,NaN,NaN,0,0
0,NaN,1,3,RDT&E,NaN,14,16016900000,13432300000
1,NaN,1,3,Procurement,NaN,"2,456",44940100000,41012800000
2,NaN,1,3,MILCON,NaN,NaN,0,0
3,NaN,1,3,O&M,NaN,NaN,0,0

In [1]:
import nest_asyncio

nest_asyncio.apply()

from llama_parse import LlamaParse

parser = LlamaParse(
    api_key="llx-z31F5nRgh50gZlN4PqnoJyFK26X0IMjTFdIhIy5eVOIK6jlC",  # can also be set in your env as LLAMA_CLOUD_API_KEY
    result_type="markdown",  # "markdown" and "text" are available
    num_workers=4,  # if multiple files passed, split in `num_workers` API calls
    verbose=True,
    language="en",  # Optionally you can define a language, default=en
)

# sync
documents = parser.load_data("/Users/petershmorhun/Desktop/SARScraper/SARPDFs/(U)AAG_MSAR_Dec_2023.pdf")

# sync batch
#documents = parser.load_data(["./my_file1.pdf", "./my_file2.pdf"])

# async
#documents = await parser.aload_data("./my_file.pdf")

# async batch
#documents = await parser.aload_data(["./my_file1.pdf", "./my_file2.pdf"])

Started parsing the file under job_id 9b954a8a-41e0-4c07-b445-14e4fae93df0
..

In [3]:
from copy import deepcopy
from llama_index.core.schema import TextNode
from llama_index.core import VectorStoreIndex


def get_page_nodes(docs, separator="\n---\n"):
    """Split each document into page node, by separator."""
    nodes = []
    for doc in docs:
        doc_chunks = doc.text.split(separator)
        for doc_chunk in doc_chunks:
            node = TextNode(
                text=doc_chunk,
                metadata=deepcopy(doc.metadata),
            )
            nodes.append(node)

    return nodes

In [4]:
page_nodes = get_page_nodes(documents)

In [6]:
from llama_index.core.node_parser import MarkdownElementNodeParser

node_parser = MarkdownElementNodeParser(
    llm=OpenAI(model="gpt-3.5-turbo-0125"), num_workers=8
)

NameError: name 'OpenAI' is not defined